<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".TshomboApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tshombo"
        android:usesCleartextTraffic="true"
        tools:targetApi="tiramisu">
        <activity
            android:name=".MapActivity"
            android:exported="false"
            android:label="@string/title_activity_map"
            android:theme="@style/Theme.Tshombo" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDCTLUAhpa6QLkne3vKo_IVJmDAQEx0Xx4" />

        <activity
            android:name=".AddPhoneActivity"
            android:exported="false"
            android:label="@string/title_activity_add_phone"
            android:theme="@style/Theme.Tshombo" />
        <activity
            android:name=".StoreActivity"
            android:exported="false"
            android:label="@string/title_activity_store"
            android:theme="@style/Theme.Tshombo" />
        <activity
            android:name=".PromotionActivity"
            android:exported="false"
            android:label="@string/title_activity_promotion"
            android:theme="@style/Theme.Tshombo" />
        <activity
            android:name=".UserActivity"
            android:exported="false"
            android:label="@string/title_activity_user"
            android:theme="@style/Theme.Tshombo" />
        <activity
            android:name=".AdminActivity"
            android:exported="false"
            android:label="@string/title_activity_admin"
            android:theme="@style/Theme.Tshombo" />
        <activity
            android:name=".PhoneActivity"
            android:exported="false"
            android:label="@string/title_activity_phone"
            android:theme="@style/Theme.Tshombo" />
        <activity
            android:name=".NotificationActivity"
            android:exported="false"
            android:label="@string/title_activity_notification"
            android:theme="@style/Theme.Tshombo" />
        <activity
            android:name=".SearchActivity"
            android:exported="false"
            android:label="@string/title_activity_search"
            android:theme="@style/Theme.Tshombo" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.Tshombo" />
        <activity
            android:name=".AuthActivity"
            android:exported="true"
            android:theme="@style/Theme.Tshombo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>